<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Traffic Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css">
    <script src="../static/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Nav tabs -->
    <div class="container-fluid pt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Traffic System Control</h4>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
                <ul class="nav ">
                <li class="nav-item">
                <a class="nav-link active" href="/"><u>Home</u></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/env_creation">EnvCreation</a>
                </li>
                </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Current Configuration</h5>
                <table class="table table-sm table-striped table-dark">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Variable</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">timeLtoL</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td scope="row">variable2</td>
                                <td>variable2_value</td>
                            </tr>
                            <tr>
                                <td scope="row">variable3</td>
                                <td>variable3_value</td>
                            </tr>
                            <tr>
                                <td scope="row">variable4</td>
                                <td>variable4_value</td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Statistics</h5>
                <table class="table table-sm table-striped table-dark">
                    <thead class="thead-inverse">
                        <tr class="">
                            <th>Variable</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">variable1</td>
                                <td>variable1_value</td>
                            </tr>
                            <tr>
                                <td scope="row">variable2</td>
                                <td>variable2_value</td>
                            </tr>
                            <tr>
                                <td scope="row">variable3</td>
                                <td>variable3_value</td>
                            </tr>
                            <tr>
                                <td scope="row">variable4</td>
                                <td>variable4_value</td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="container-fluid pt-4 pb-4">
    
        <div class="card border border-primary ">
            <div class="card-body text-dark text-center">
                <p class="card-text">Created by Edward Upton & Ben Dodd</p>
            </div>
        </div>
    
      </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>